<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<wsdl>http://localhost/administracion/seguridad_datapimx/Process_Service/Process_Service.asmx?wsdl</wsdl>
	<wsdlAdmin>http://localhost/administracion/seguridad_datapimx/Admin_Sistema/Service.asmx?wsdl</wsdlAdmin>
	
	<wsdlCat>http://localhost/ws_catalogos_datapimx/service.asmx?wsdl</wsdlCat>
	<wsdlPdf>http://localhost/RptGenerado_datapimx/default.aspx?</wsdlPdf>
	<wsdlRep>http://localhost/ws_reportes_datapimx/service.asmx?wsdl</wsdlRep>
	<wsdlServ>http://localhost/ws_servicios_datapimx/Service.asmx?wsdl</wsdlServ>
	<wsdlMail>http://localhost/ws_servicios_datapimx/ServiceMail.asmx?wsdl</wsdlMail>
	<wsdlExp>http://localhost/ws_servicios_datapimx/Uploader.ashx</wsdlExp>
	<wsdlExpXls>http://datacredit.webredirect.org/ExpExcelJson/ExcelLib.aspx</wsdlExpXls>
	<wsdlCC>http://localhost/ws_consCirc_datapimx/service.asmx?wsdl</wsdlCC>
	
	<urlDocs>http://localhost/DOCS_PRUEBA/</urlDocs>
</Configuration>